Source: ros-melodic-fetch-bringup
Section: misc
Priority: extra
Maintainer: Eric Relson <erelson@fetchrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-fetch-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-depth-image-proc, ros-melodic-diagnostic-aggregator, ros-melodic-fetch-description, ros-melodic-fetch-drivers, ros-melodic-fetch-open-auto-dock, ros-melodic-fetch-teleop, ros-melodic-graft, ros-melodic-image-proc, ros-melodic-joy, ros-melodic-openni2-launch, ros-melodic-robot-controllers-msgs, ros-melodic-robot-state-publisher, ros-melodic-sensor-msgs, ros-melodic-sick-tim (>= 0.0.4)
Description: Bringup for fetch
